* {
    border: 1px blue solid;
}
html {
    border-color: green;
}
.container {
    border-color: red;
}
header {

}
main {

}
footer {

}
[fictiv] {
    background: cyan;
}
[type="text"] {
    background: lightgrey;
}
[type="password"] {
    background: gray;
}
[placeholder^="my"] {
    color: red;
}
[placeholder$="date2"] {
    color: blue;
}
[placeholder*="date"] {
    border: 1px solid red;
}
a:link{
    color: lightblue;
}
a:visited {
    color: gray
}
a:active {
    color: blue
}
a:hover {
    border: 1px solid black;
}
a:target {
    color: red
}
input:focus {
    color: green;
}